/target
/target/*
/target/classes
/target/.class
/.classpath
/.project
/.settings
/.settings/*
/.surefire
/bin
/.class
*.class
/bin/*
/classes
/classes/*
/.android
/.android/*
/.netbeans
/.netbeans/*
/AppData
/AppData/*
/Desktop
/Desktop/*
/.metadata
/.metadata/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
